<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.hotpot.mapper.LocationMapper">
  <resultMap id="BaseResultMap" type="com.xihua.hotpot.pojo.Location">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="telephone" jdbcType="CHAR" property="telephone" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, content, telephone, name, sex, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from location
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 查询 -->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from location
    where user_id = #{userId,jdbcType=INTEGER} order by valid desc
  </select>

  <!-- 更新 -->
  <update id="clearDefault" parameterType="java.lang.Integer" >
    update location set valid = 0
    where user_id = #{userId,jdbcType=INTEGER} and valid = 1
  </update>

  <!-- 删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from location
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 插入 -->
  <insert id="insert" parameterType="com.xihua.hotpot.pojo.Location">
    insert into location ( user_id, content,
      telephone, name, sex, valid
      )
    values ( #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
      #{telephone,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{sex,jdbcType=TINYINT}, #{valid,jdbcType=TINYINT}
      )
  </insert>

  <!-- 更新 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.xihua.hotpot.pojo.Location">
    update location
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>