<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xihua.hotpot.mapper.PictureMapper">
  <resultMap id="BaseResultMap" type="com.xihua.hotpot.pojo.Picture">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="sort" jdbcType="TINYINT" property="sort" />
    <result column="valid" jdbcType="TINYINT" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, location, type, sort, valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from picture_index
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from picture_index
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from picture_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xihua.hotpot.pojo.Picture">
    insert into picture_index (id, name, location, 
      type, sort, valid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{sort,jdbcType=TINYINT}, #{valid,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xihua.hotpot.pojo.Picture">
    update picture_index
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=TINYINT},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>